<!DOCTYPE html>
<html ng-app="Awwward">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Awwward</title>

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- custom styles -->
        <link rel="stylesheet" href="css/style.css">

        <!-- angular -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

        <!-- angular-ui-bootstrap -->
        <script type="text/javascript" src="js/angular-ui-bootstrap.js"></script>

        <!-- custom scripts -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/awardsController.js"></script>
    </head>
    <body>
      <div class="container">
      <h1>Awwward</h1>
      <hr>
      <div class="row" ng-controller="awardsController as awards">
        <div class="col-md-4">
          <form name="winnerForm" ng-submit="awards.createNewWinner()">
            <label for="new-winner-name">New Winner's Name:</label>
            <input type="text" id="new-winner-name" ng-model="awards.newWinner.name" ng-class="{'error': awards.newWinner.name.length <= 4}" placeholder="e.g. Iam Vinning">
            
            <label for="reason">Reason:</label>
            <input type="text" name="reason" id="new-winner-reason" ng-model="awards.newWinner.reason" ng-minlength="3" ng-maxlength="30" required> 

            <input type="submit" value="Add New Winner" ng-disabled="awards.newWinner.name.length <= 4 || awards.newWinner.name.length == null || winnerForm.$invalid"> 
          </form>
        </div>
        <div class="col-md-8">
          <ol id="contestants">
            <li ng-repeat="winner in awards.winners" class='fade-in'>
              <strong>{{winner.name}}</strong><br>
              <small>for {{winner.reason}}</small>
            </li>
          </ol>
        </div>
      </div>
      </div>
    </body>
</html>